h1, p {
    font-size: 32px;
    background-color: yellowgreen;
}

div h2{
    background-color: blue;
}

.notYellowBackground{
    background-color: fuchsia;
}

#loremP{
    font-size: 48px;
    background-color: aqua;
}